html, body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

#container {
    max-width: 390px;
    margin: auto;
    background-color: #0C4A6E;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0px;
}

#freddie {
    width: 90px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

#user-input {
    /* max-width: 317px;
    min-width: 317px;
    max-height: 118px; */
    width: 317px;
    height: 118px;
    box-sizing: border-box;
    background-color: #E0F2FE;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 15px;
    resize: none;

}

::-webkit-input-placeholder { /* Edge */
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer */
  font-style: italic;
}

::placeholder {
  font-style: italic;
}

#publish-btn {
    color: #FFFFFF;
    background-color: #F43F5E;
    border: none;
    border-radius: 8px;
    width: 317px;
    height: 61px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column-reverse;
}

li {
    background-color: #FFFFFF;
    color: #1B1924;
    list-style: none;
    width: 317px;
    margin-bottom: 13px;
    text-align: left;
    padding: 15px 20px;
    box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);

}